body {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
}

div#course-title {
  font-size: 24px;
  font-weight: bold;
  /*margin-left: 20px;*/
}

div#course-info {
  font-size: 11px;
  /*margin-left: 22px;*/
}

div#course-description {
  /*margin-left: 22px;*/
  margin-top: 10px;
  font-size: 12px;
  text-align: justify;
}

div.content {
  margin-top: 20px;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

div.content > div.assignments li {
  margin-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

/*
 The following should be used for important dates.
*/
.important {
  color: red;
}

/* This is used for assignment assigned dates. */
.assigned {
  color: green;
}

/* This is used for assigned due dates. */
.due {
  color: red;
  font-weight: bold;
}

a:visited, a:active, a:link, a:hover {
  color: rgb(215, 123, 64);
  text-decoration: none;
}