body {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

div.content {
  margin-top: 20px;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

/* Use this to designate important things like due dates. */
.important {
  color: red;
}

div#course-title {
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
}

div#course-info {
  font-size: 11px;
  margin-left: 22px;
}

a:visited, a:active, a:link, a:hover {
  color: rgb(215, 123, 64);
  text-decoration: none;
}