{{ partial "home_header.html" . }}

<h3>Time and Location</h3>
<p>
  {{ if or (and (isset .Site.Params "time") (isset .Site.Params "location")) (and (isset .Site.Params "dtime") (isset .Site.Params "dlocation")) }}
    {{ if and (isset .Site.Params "time") (isset .Site.Params "location") }}
      Lecture:
      {{ .Site.Params.time }}, {{ .Site.Params.location }}
    {{ end }}
    {{ if and (isset .Site.Params "dtime") (isset .Site.Params "dlocation") }}
      <br>Discussion:
      {{ .Site.Params.dtime }}, {{ .Site.Params.dlocation }}
    {{ end }}
  {{ else }}
    <i>Time and location not determined yet.</i>
  {{ end }}
</p>

<h3>Course Staff</h3>
<ul>
  {{ range .Site.Params.staff }}
  <li>{{ .role }}: {{ .name }} <br>
    email: {{ .email }} <br>
    hours: {{ .hours }} <br>
    location: {{ .location }}
  </li>
  {{ end }}
</ul>

<h3>Course Information</h3>
{{ $info_pages := where .Data.Pages "Type" "info" }}
{{ if not (len $info_pages) }}
<i>No course information available yet.</i>
{{ else }}
<ul>
  {{ range $info_pages }}
  <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
  {{ end }}
</ul>
{{ end }}

<h3>Announcements</h3>
{{ $announcement_pages := where .Data.Pages "Type" "announcement" }}
{{ if not (len $announcement_pages) }}
<i>No Announcements at the moment.</i>
{{ else }}
<ul>
  {{ range $announcement_pages }}
  <li>{{ .Date.Format "Mon, Jan 2" }}: <a href="{{ .Permalink }}">{{ .Title }}</a></li>
  {{ end }}
</ul>
{{ end }}

<h3>Weeks</h3>
{{ $week_pages := where .Data.Pages "Type" "week" }}
{{ if not (len $week_pages) }}
<i>The course has not started yet.</i>
{{ else }}
<ul>
  {{ range $week_pages }}
  <li>{{ .Date.Format "Mon, Jan 2" }}: <a href="{{ .Permalink }}">{{ .Title }}</a></li>
  {{ end }}
</ul>
{{ end }}

<h3>Assignments</h3>
<div class="assignments">
{{ $assignment_pages := where .Data.Pages "Type" "assignment" }}
{{ if not (len $assignment_pages) }}
<i>No Assignments at the moment.</i>
{{ else }}
<ul>
  {{ range $assignment_pages }}
  <li><a href="{{ .Permalink }}">{{ .Title }}</a> <br>
    <span class="assigned">Assigned: {{ .Params.assigned }}</span><br>
    <span class="due">Due: {{ .Params.due }}</span>
  </li>
  {{ end }}
</ul>
</div>
{{ end }}

{{ partial "footer.html" . }}